@media (min-width: 768px) {
  nav {
    display: block !important;
  }
  #menu-button {
    display: none;
  }
  .navigation {
    display: flex;
    gap: 1rem;
  }
  #members.grid-view {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  #members.list-view .member-card {
    display: flex;
    align-items: center;
    text-align: left;
  }
  #members.list-view .member-card img {
    max-width: 100px;
    margin-right: 1rem;
  }
}

