/* Basic normalize */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1, h2, h3, p {
  margin: 0;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


